<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <div class="mega-top">
            <div class="top">
                <div class='logo-liebre'><img width="90%" src="images/logo-mercado-liebre.svg" alt="Logo"></div>
                <div class="form" action="#" method="GET">
                    <input type="text" name="busqueda" placeholder="Buscar" class="input"><div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <div class="compracuotas"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</div>
        </div>

        <div class="hello">
            <div class="contenedor-nav">
                <ul class="nav-bar" type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
        
            <div class="contenedor-nav">
                <ul class="nav-bar" type="none">
                   <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="burger-menu"><i  class="fas fa-bars"></i></div>
        <div><img width="100%" src="images/img-home-banner.jpg"></div>
    </header>

    <main>
        <h2>Basado en tu última visita</h2>
        <div class="sec-art">
            <article>
                <div><img width="100%" src="images/img-cafetera-moulinex.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$6.770</p>
                    <p class="off">40% off</p>
                </div>
                <p class="descrip-desc"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <article>
                <div><img width="100%" src="images/img-macbook-pro-2019.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$230.000</p>
                    <p class="off">20% off</p>
                </div>
                <p class="descrip-desc"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article>
                <div><img width="100%" src="images/img-samsung-galaxy-s10.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$70.500</p>
                    <p class="off">10% off</p>
                </div>
                <p class="descrip-desc"><strong>Samsung Galaxy S10</strong></p>
                </div>    
            </article>

            <article>
                <div><img width="100%" src="images/img-tv-samsung-smart.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$23.200</p>
                    <p class="off">5% off</p>
                </div>
                <p class="descrip-desc"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </div>

        <h2>Ofertas</h2>
        <div class="sec-art">
            <article>
                <div><img width="100%" src="images/img-cafetera-moulinex.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$6.770</p>
                    <p class="off">40% off</p>
                </div>
                <p class="descrip-desc"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <article>
                <div><img width="100%" src="images/img-macbook-pro-2019.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$230.000</p>
                    <p class="off">20% off</p>
                </div>
                <p class="descrip-desc"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article>
                <div><img width="100%" src="images/img-samsung-galaxy-s10.jpg"></div>
                <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$70.500</p>
                    <p class="off">10% off</p>
                </div>
                <p class="descrip-desc"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>

            <article>
                <div><img width="100%" src="images/img-tv-samsung-smart.jpg"></div>
                    <div class="infoArt">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="detalle">
                    <p class="precio">$23.200</p>
                    <p class="off">5% off</p>
                </div>
                <p class="descrip-desc"><strong> Samsung 43"</strong></p>
                </div>
            </article>
        </div>
    </main>


    <footer>
        <section class="inicio-footer">
            <span class="icon-foot" style="color: Dodgerblue;"><i class="fa-solid fa-credit-card fa-2xl"></i></span>
            <h4 class="titulo-footer">Pagá con tarjeta o en efectivo</h4>
            <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en
                puntos de<br> pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <span style="color: Dodgerblue;"> <i class="fa-solid fa-gift fa-2xl"></i></span>
                <h4 class="titulo-footer">Envío gratis desde $ 2.500</h4>
                <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
                    productos. Es<br> un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <span style="color: Dodgerblue;"><i class="fa-solid fa-user-shield fa-2xl"></i></span>
            <h4 class="titulo-footer">Seguridad, de principio a fin</h4>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> no hay nada que no puedas hacer,
                porque estás<br> siempre protegid@.</p>
        </section>

        <section>
            <p id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

</body>
</html>